h1,
p {
  margin: 0;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  width: 1510px;
}
button {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  width: 1510px;
  max-height: 75px;
  margin: 0 auto;
}
.container {
  display: flex;
}
.header__logo {
  padding-left: 115px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  margin-left: 500px;
}
.nav__link {
  line-height: 75px;
  height: 75px;
  font-size: 14px;
  width: 113px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.nav__link:hover {
  color: #ffffff;
  background-color: #ec7979;
  transition: color 1s;
}
.nav__link:active {
  background-color: #ab4949;
  transition: color 1s;
}

.banner__bg {
  margin: 0 auto;
  background-image: url(bg.png), url(image.png);
  height: 1026px;
  width: 1510px;
}

.banner__logo {
  padding-left: 170px;
  padding-top: 230px;
}

.banner__title {
  display: flex;
  padding-left: 170px;
  width: 670px;
  padding-top: 51px;
  line-height: 56, 35px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
}

.banner__border {
  margin-top: 55px;
  margin-left: 170px;
  width: 170px;
  border: 1px solid #ffffff;
}

.banner__text {
  margin-left: 170px;
  margin-top: 42px;
  width: 270px;
  font-family: "Raleway", sans-serif;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.banner__btn {
  margin-left: 170px;
  margin-top: 42px;
  width: 270px;
  height: 58px;
  background: none;
  border: 2px solid #ffffff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  color: #ffffff;
}

.banner__btn:hover {
  color: #ec7979;
  border: 2px solid #ec7979;
  transition: color 1s;
}

.banner__btn:active {
  color: #ffffff;
  background-color: #ab4949;
  border: 2px solid #ab4949;
  transition: color 1s;
}

.banner__form {
  margin-left: 30px;
  margin-top: 230px;
  width: 470px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
}

.form {
  padding-left: 50px;
  padding-right: 50px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

.color__form {
  color: #ec7979;
}

.form__input {
  margin-left: 50px;
  margin-right: 50px;
  border: 0;
  line-height: 39px;
  border-bottom: 1px solid #bdbdbd;
  width: 370px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 33px;
}

.form__btn {
  margin-top: 75px;
  width: 470px;
  height: 60px;
  background-color: #ec7979;
  text-align: center;
  line-height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form__btn:hover {
  background-color: #ab4949;
}

.form__btn:active {
  background-color: #ec7979;
  border: 2px solid #ab4949;
  color: #ffffff;
}

.banner__wrapper {
  display: flex;
}

.social__line {
  margin: 0 auto;
  width: 1510px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #f8efef;
}

.social__text {
  margin-left: 170px;
  margin-right: 50px;
}

.main__text {
  margin-top: 2px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.extra__text {
  width: 470px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21, 13px;
  color: #86878b;
}

.social__icon {
  display: flex;
  align-items: center;
  line-height: 50%;
}

.social__icon > a > img {
  margin-right: 45px;
}

.table {
  margin: 0 auto;
  display: flex;
  width: 1510px;
  background-color: #ffffff;
}

.tab__table {
  margin: 99px 0px 50px 170px;
}

.tab__tb {
  display: flex;
}

.desc__text {
  flex-direction: column;
  padding-left: 100px;
  display: flex;
  border: 1px solid #c6cbcd;
  border-top: none;
}

.tab__tb > span {
  height: 40px;
  width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #333333;
}

.text__main {
  margin-bottom: 27px;
  width: 570px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 124px;
}

.text__extra {
  margin-right: 30px;
  width: 570px;
  height: 210px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.desc__image {
  margin-top: 139px;
}

.desc__button {
  margin-top: 27px;
  margin-bottom: 52px;
  width: 270px;
  height: 58px;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background: #ec7979;
  border: none;
}

.desc__button:hover {
  background-color: #ab4949;
}

.desc__button:active {
  background-color: #ec7979;
}

.tab1 {
  border: 1px solid #c6cbcd;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.tab2 {
  border-bottom: 1px solid #c6cbcd;
}

.tab3 {
  padding-right: 90px;
  border-bottom: 1px solid #c6cbcd;
}

.tablet__about {
  margin: 0 auto;
  width: 1510px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.main {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  padding: 50px 169px 0px 171px;
}

.tablet__row {
  width: 170px;
  border-top: 1.5px solid #ec7979;
  margin-top: 50px;
  margin-bottom: 40px;
}

.extra {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21, 13px;
  color: #86878b;
  margin-bottom: 100px;
}

.about__container {
  width: 1510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__content {
  width: 370px;
  margin: 20px;
}

.abt__logo {
  text-align: center;
}

.abt__title {
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.abt__info {
  font-family: "Raleway", sans-serif;
  width: 370px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-bottom: 40px;
}

.price {
  background-color: #f5f5f5;
}

.outer__price{
  width: 1510px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; 
}

.inner__price {
  width: 1170px;
}

.price__maintitle {
  padding-top: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
}

.price__row {
  width: 170px;
  border-top: 1.5px solid #ec7979;
  margin-top: 50px;
  margin-bottom: 50px;
}

.price__extra {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21, 13px;
  color: #86878b;
  padding-bottom: 80px;
}
.price__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.content__about {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  padding-bottom: 30px;
}

.price__title {
  color: #ffffff;
  background-color: #333333;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 15px 0;
}

.hr_price_white {
  color: #ffffff;
  border: 2px solid #ffffff;
  margin: 0;
}

.hr_price_white.act {
  color: #ffffff;
  border: 2px solid #ffffff;
  margin: 0;
  margin-top: 20px;
}

.price__sum {
  color: #ffffff;
  background: #333333;
  padding-top: 20px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.price__free {
  color: #86878B;
  background: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.price__about {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  font-style: normal;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
}
.price__content{
  width: 370px;
  padding-left: 30px;
}
.price__content.second {
  position: relative;
  bottom: 20px; 
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
